fieldset {
margin: 0;
padding: 0;
border: none;
}

body{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.layout {
    margin: 0 auto;
    position: relative;
    width: 950px;
    padding: 0 35px;
}
/* header */

#header {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#header .logo {
    float: left;
    display: flex;
    justify-content: center;
}
#header .logo a{
    position: relative;
    padding: 55px 0 50px 0;
}
#header nav {
    float: right;
}
#header nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 385px;
}
#header nav li{
    display: inline;
    font-family:'Trebuchet MS',sans-serif;
}
#header nav a:hover{
    color: #0481c2;
}
#header nav a{
    display: block;
    text-transform: capitalize;
    color: #878787;
    font-size: 20px;
    padding: 64px 0 70px 0;
}
a{
    text-decoration: none;
}
.clearfix:after{
   content: '';
   display: table;
   clear: both;
}
#main{
    overflow: hidden;
    float: right;
    position: relative;
    width: 710px;
    padding-top: 21px;
    z-index: 0;
    border-top:5px solid #0481c2;  
   
}
#main .banner{
    width: 100%;
    position: relative;
}
#main .mainpic1{
    display: block;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    position: relative;
}
#main img{
    display: block;
    overflow: hidden;
    width: 100%;
}
#main#main .banner .infocont{
    display:block;
    overflow: hidden;
    padding: 0 15px;
    height: 100%;
    width: 175px;
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    background-color: rgba(175, 173, 173, 0.4) 
}
#main .banner h2{
    margin-top: 73px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #fff
}
#main .banner .infocont p{
    margin-top: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #fff;
}
#main .mainbottom ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 39px;
}

#main .mainbottom ul li{
    width: 230px;
}

#main .mainbottom ul li img{
    display: block;
    overflow: hidden;
    height: auto;
}

#main .mainbottom ul li a{
    text-decoration: none;
    overflow: hidden;
    color: #878787;
    font-size: 12px; 
}

#main .mainbottom ul li a:hover{
        color: #0481c2;
}

#main .mainbottom ul li h4{
    display: block;
    overflow: hidden;  
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px; 
    width: 100%;
    padding: 10px 0 10px 0;
    color: #0481c2; 
    margin: 5px 0;
}
#main .mainbottom ul li p{
    display: block;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    color: #3c3c3c;    
    font-size: 12px; 
    margin: 0;
    }

#sidebar {
    float: left;
    width: 230px;
    padding: 21px 0;
    border-top:5px solid #0481c2;  
}


#sidebar p{
    display: block;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    color: #3c3c3c;    
    font-size: 12px; 
    margin: 0;
}

#sidebar fieldset{
    width: 226px;
    border: 1px solid #5e5e5e
    }

#sidebar .search input{
    background: url(../pic/Search.png);
    background-repeat: no-repeat;
    background-position: right ; 
}

#sidebar fieldset input{
    border: none;
}

#sidebar a{
    text-decoration: none;
    overflow: hidden;
    color: #878787;
    font-size: 12px; 
}

#sidebar a:hover{
    color: #0481c2;
}    

#sidebar h2{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #0481c2;
    border-bottom: 1px solid #5e5e5e;
}

#sidebar h3{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: #0481c2;
}

#sidebar .news1{
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 25px;

}

#sidebar .news2{
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 25px;
}

    
#footer{
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
#footer .socials {
    display: flex;
    float: left;
    border-top:5px solid #0481c2;
    width: 226px;
    padding-top: 10px;
    margin-top: 25px;
    margin: 25px 0 60px 0;
    
}
#footer .copy{
    overflow: hidden;
    float: right;
    font-family: "Arial";
    color: #5e5e5e;
    font-size: 12px;
    border-top:5px solid #0481c2; 
    width: 710px;
    text-align: right;
    padding-top: 10px;
    margin: 25px 0 60px 0;
}

.socials{
    position: relative;
}
.socials .facebook{
    background: url('../pic/rss1.png') 0 0 ;
    padding: 11px;
    display: block;
}
.socials .twitter{
    background: url('../pic/rss1.png') top 0 right 50px ;
    padding: 11px;
    display: block;
}
.socials .linkedin{
    background: url('../pic/rss1.png') top 0 right 78px ;
    padding: 11px;
    display: block;
}
.socials .myspace{
    background: url('../pic/rss1.png') top 0 right 104px;
    padding: 11px;
    display: block;
}
.socials .rss{
    background: url('../pic/rss1.png') top 0 right 134px ;
    padding: 11px;
    display: block;
}